Repository doofus-01/wesnoth-Bad_Moon_Rising, changes with the labels that .github/labeler.yml gives for each.
All labels: Graphics, Lua, Terrain, Units

.github/labeler.yml:

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**

Lua:
  - changed-files:
    - any-glob-to-any-file:
      - lua/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - images/terrain/**
      - utils/terrain.cfg

Units:
  - changed-files:
    - any-glob-to-any-file:
      - images/units/**
      - units/**/*.cfg

update resurrectionist sprite base
  images/units/resurrectionist.png
Labels: Graphics, Units

update resurrectionist sprite base, again
  images/units/resurrectionist.png
Labels: Graphics, Units

testing image metadata workflow baby steps
  .github/workflows/check_metadata.yml
Labels: none

exif test
  images/portraits/civilian-f1.webp
Labels: Graphics

syntax fix maybe
  .github/workflows/check_metadata.yml
Labels: none

exif test2
  images/portraits/civilian-f1.webp
Labels: Graphics

exif test3
  images/portraits/civilian-f1.webp
Labels: Graphics

syntax fix maybe
  .github/workflows/check_metadata.yml
Labels: none

exif test
  images/portraits/civilian-f1.webp
Labels: Graphics

yml
  .github/workflows/check_metadata.yml
Labels: none

yml
  .github/workflows/check_metadata.yml
Labels: none

yml
  .github/workflows/check_metadata.yml
Labels: none

yml
  .github/workflows/check_metadata.yml
Labels: none

exif test
  images/portraits/civilian-f1.webp
Labels: Graphics

exif test (#18)
  .github/workflows/check_metadata.yml
  images/portraits/civilian-f1.webp
Labels: Graphics

exif test
  images/portraits/civilian-f1.webp
Labels: Graphics

try running apt-get on runner w/ sudo
  .github/workflows/check_metadata.yml
Labels: none

yml
  .github/workflows/check_metadata.yml
Labels: none

yml
  .github/workflows/check_metadata.yml
Labels: none

checkout the repo
  .github/workflows/check_metadata.yml
Labels: none

thanks autoformat
  .github/workflows/check_metadata.yml
Labels: none

exif test
  images/portraits/civilian-f1.webp
Labels: Graphics

try repo checkout again
  .github/workflows/check_metadata.yml
Labels: none

yml
  .github/workflows/check_metadata.yml
Labels: none

exif update script - first draft
  images/portraits/exif_script.sh
Labels: Graphics

image test
  images/portraits/civilian-f1.webp
Labels: Graphics

crop the sha to 6
  .github/workflows/check_metadata.yml
Labels: none

image test
  .github/workflows/check_metadata.yml
  images/portraits/civilian-1.webp
Labels: Graphics

try cropping to 6 digits again
  .github/workflows/check_metadata.yml
Labels: none

yml
  .github/workflows/check_metadata.yml
Labels: none

image test
  images/portraits/civilian-1.webp
Labels: Graphics

change pull_request_target event to pull_request
  .github/workflows/check_metadata.yml
Labels: none

yml
  .github/workflows/check_metadata.yml
Labels: none

image test
  images/portraits/civilian-1.webp
Labels: Graphics

image test and yml
  .github/workflows/check_metadata.yml
  images/portraits/civilian-1.webp
Labels: Graphics

trying different git diff
  .github/workflows/check_metadata.yml
Labels: none

image test
  images/portraits/civilian-1.webp
Labels: Graphics

git diff crap
  .github/workflows/check_metadata.yml
Labels: none

yml
  .github/workflows/check_metadata.yml
Labels: none

image test
  images/portraits/civilian-1.webp
Labels: Graphics
