Repository doofus-01/wesnoth-Bad_Moon_Rising, changes with the labels that .github/labeler.yml gives for each.
All labels: Graphics, Lua, Terrain, Units

.github/labeler.yml:

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**

Lua:
  - changed-files:
    - any-glob-to-any-file:
      - lua/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - images/terrain/**
      - utils/terrain.cfg

Units:
  - changed-files:
    - any-glob-to-any-file:
      - images/units/**
      - units/**/*.cfg

image test
  images/portraits/civilian-1.webp
Labels: Graphics

Update check_metadata.yml
  .github/workflows/check_metadata.yml
Labels: none

image test
  images/portraits/civilian-1.webp
Labels: Graphics

Update check_metadata.yml
  .github/workflows/check_metadata.yml
Labels: none

image test
  images/portraits/civilian-1.webp
Labels: Graphics

Update check_metadata.yml
  .github/workflows/check_metadata.yml
Labels: none

image test
  images/portraits/civilian-1.webp
Labels: Graphics

Update check_metadata.yml
  .github/workflows/check_metadata.yml
Labels: none

image test
  images/portraits/civilian-1.webp
Labels: Graphics

first (hopefully) functional version of metadata check
  .github/workflows/check_metadata.yml
Labels: none

image test
  images/portraits/civilian-1.webp
Labels: Graphics

image test
  images/portraits/civilian-1.webp
Labels: Graphics

remove a failed experiment with status check
  .github/workflows/check_metadata.yml
Labels: none

image test
  images/portraits/civilian-1.webp
Labels: Graphics

fix randomly deleted character
  .github/workflows/check_metadata.yml
Labels: none

image test
  images/portraits/civilian-1.webp
Labels: Graphics

fix randomly deleted character
  .github/workflows/check_metadata.yml
Labels: none

image test
  images/portraits/civilian-1.webp
Labels: Graphics

image test - should fail
  images/portraits/civilian-1.webp
Labels: Graphics

update portraits/raenna_bad.webp
  images/portraits/raenna_bad.webp
Labels: Graphics

adjustments to P2 Camp scenario
  maps/1_03_Camp2.map
  scenarios2/1_03_Camp.cfg
Labels: none

remove unused top-level xp-related macro
  _main.cfg
Labels: none

replace XP retention method
  lua/status_components.lua
  utils/xp_scaling.cfg
Labels: Lua

cleanup for XP scaling
  utils/xp_scaling.cfg
Labels: none

testing syntax for CI script
  .github/workflows/check_metadata.yml
Labels: none

CI test
  images/portraits/vulture.webp
Labels: Graphics

testing syntax for CI script (push to master)
  .github/workflows/check_metadata.yml
Labels: none

CI test
  images/portraits/vulture.webp
Labels: Graphics

comment out push to master trigger, not ready
  .github/workflows/check_metadata.yml
Labels: none

CI test
  images/portraits/vulture.webp
Labels: Graphics

CI test - should pass
  images/portraits/vulture.webp
Labels: Graphics

CI test - might pass
  images/portraits/vulture.webp
Labels: Graphics

change array separator
  .github/workflows/check_metadata.yml
Labels: none

CI test - might pass
  images/portraits/vulture.webp
Labels: Graphics

CI test - should pass
  images/portraits/vulture.webp
Labels: Graphics

CI test - might pass
  images/portraits/vulture.webp
Labels: Graphics

test push env
  .github/workflows/check_metadata.yml
Labels: none

CI test - might pass
  images/portraits/vulture.webp
Labels: Graphics

CI test - should pass
  images/portraits/vulture.webp
Labels: Graphics

CI test - should pass
  images/portraits/vulture.webp
Labels: Graphics
