Repository doofus-01/wesnoth-Bad_Moon_Rising, changes with the labels that .github/labeler.yml gives for each.
All labels: Graphics, Lua, Terrain, Units

.github/labeler.yml:

Graphics:
  - changed-files:
    - any-glob-to-any-file:
      - images/**

Lua:
  - changed-files:
    - any-glob-to-any-file:
      - lua/**

Terrain:
  - changed-files:
    - any-glob-to-any-file:
      - images/terrain/**
      - utils/terrain.cfg

Units:
  - changed-files:
    - any-glob-to-any-file:
      - images/units/**
      - units/**/*.cfg

cleanup metedata ci check
  .github/workflows/check_metadata.yml
Labels: none

test XMP metadata check
  .github/workflows/check_metadata.yml
Labels: none

test XMP Creator only, should fail
  images/units/resurrectionist.png
Labels: Graphics, Units

try XMP CI again
  .github/workflows/check_metadata.yml
Labels: none

test XMP Creator only, should fail
  images/units/resurrectionist.png
Labels: Graphics, Units

try XMP CI again
  .github/workflows/check_metadata.yml
Labels: none

test XMP Creator only, should fail
  images/units/resurrectionist.png
Labels: Graphics, Units

test XMP Creator and Rights, should pass
  images/units/resurrectionist.png
Labels: Graphics, Units

test XMP metadata check
  .github/workflows/check_metadata.yml
Labels: none

test XMP Creator and Rights, should pass
  images/units/resurrectionist.png
Labels: Graphics, Units

image metadata CI alignment with mainline
  .github/workflows/check_metadata.yml
  .github/workflows/image_metadata.yml
Labels: none

tentative image metadata CI update to check for XMP when file is PNG
  .github/workflows/image_metadata.yml
Labels: none

fix some typos
  .github/workflows/image_metadata.yml
Labels: none

update equipment list
  lua/equipment_list.lua
Labels: Lua

clean up some macro bloat
  scenarios2/1_01_Enough.cfg
  scenarios2/1_02_Rescue.cfg
  scenarios2/1_02_Ruins.cfg
  scenarios2/1_03_Camp.cfg
  scenarios2/1_04_Fort.cfg
  scenarios2/1_05_Defend.cfg
  scenarios2/1_06_Guardian.cfg
  scenarios2/1_07_Visit.cfg
  scenarios2/1_08_Lighthouse.cfg
  scenarios2/1_08_Rumble.cfg
  scenarios2/1_09_Pit.cfg
  scenarios2/1_09_Ruin.cfg
  scenarios2/1_10_NewHome.cfg
  scenarios2/Battles.cfg
  scenarios2/SkirmishCalls_II.cfg
  scenarios3/2_01_Trouble.cfg
  scenarios3/2_02_MineMouth.cfg
  scenarios3/2_03_Fundraising.cfg
  scenarios3/2_03_Pit.cfg
  scenarios3/2_04_Checkpoint.cfg
  scenarios3/2_04_Crater_Lake.cfg
  scenarios3/2_04_Curio.cfg
  scenarios3/2_04_Legion.cfg
  scenarios3/2_04_Pond.cfg
  scenarios3/2_05_Blind.cfg
  scenarios3/2_05_Shelter.cfg
  scenarios3/2_05_Tien.cfg
  scenarios3/2_06_Gate.cfg
  scenarios3/2_07_Control.cfg
  scenarios3/2_07_Salvation.cfg
  scenarios3/2_07_Volcano.cfg
  scenarios3/Battles.cfg
  scenarios3/SkirmishCalls_III.cfg
  utils/inventory.cfg
Labels: none

typo
  scenarios2/Shops.cfg
Labels: none

gear for the outlaws
  scenarios2/1_03_Camp.cfg
  scenarios3/2_04_Crater_Lake.cfg
Labels: none

slow down enemy hardening
  utils/xp_scaling.cfg
Labels: none

some gear adjustments for elves
  lua/equipment_list.lua
  utils/inventory.cfg
Labels: Lua

wmlindent on _main.cfg
  _main.cfg
Labels: none

inventory revision - WIP
  lua/equipment_list.lua
  lua/equipment_write.lua
Labels: Lua

some work on the inventory and status dialog, still WIP
  lua/Status_Test.lua
  lua/equipment_write.lua
  lua/status_components.lua
  units/ghosts_race.cfg
Labels: Lua, Units

continue to rework inventory and xp scaling
  lua/Status_Test.lua
  lua/equipment_write.lua
  lua/status_components.lua
  utils/inventory.cfg
  utils/xp_scaling.cfg
Labels: Lua

WIP rewrite of inventory system
  lua/Status_Test.lua
  lua/bmr_wml_tags.lua
  lua/equipment_list.lua
  lua/equipment_write.lua
Labels: Lua

WIP rewrite of inventory system - now it loads
  lua/Status_Test.lua
  lua/equipment_write.lua
Labels: Lua

more fixes to the inventory system
  lua/Status_Test.lua
  lua/equipment_write.lua
  lua/status_components.lua
Labels: Lua

more fixes to inventory system
  lua/bmr_wml_tags.lua
  lua/equipment_list.lua
  lua/equipment_write.lua
Labels: Lua

work on status dialog
  lua/status_components.lua
Labels: Lua

removing debug scaling dialog (already did not have effects anymore)
  lua/bmr_debug_menu.lua
  utils/debug_utils.cfg
  utils/help_dialog.cfg
Labels: Lua

various fixes to dialogs, inventory, and enemy scaling
  _main.cfg
  lua/Status_Test.lua
  lua/equipment_help.lua
  lua/main.lua
  utils/1_worldmap.cfg
  utils/enemy_traits.cfg
  utils/gear_weapon_specials.cfg
  utils/skirmish.cfg
  utils/xp_scaling.cfg
Labels: Lua

missing image for status dialog
  images/misc/inventory_wood.webp
Labels: Graphics

display the unit type name, not the ID string
  lua/status_components.lua
Labels: Lua

fix the flood that happens when AI steps on gear_item
  lua/bmr_wml_tags.lua
  utils/inventory.cfg
Labels: Lua

touchup ghost colors
  units/ghosts/Ghost_Bowman.cfg
  units/ghosts/Ghost_Fighter.cfg
  units/ghosts/Ghost_Footpad.cfg
  units/ghosts/Ghost_Fugitive.cfg
  units/ghosts/Ghost_Longbowman.cfg
  units/ghosts/Ghost_Lord.cfg
  units/ghosts/Ghost_Master_Bowman.cfg
  units/ghosts/Ghost_Outlaw.cfg
  units/ghosts/Ghost_Steelclad.cfg
  utils/images.cfg
Labels: Units

updates and inventory compatibility fixes for Part 1
  maps/01_Abandoned.map
  maps/02_Bad.map
  maps/02b_Trial.map
  maps/03_Unbreakable.map
  maps/05_Payback-new.map
  scenarios1/0_01_Abandoned.cfg
  scenarios1/0_02_Bad.cfg
  scenarios1/0_02b_Trial.cfg
  scenarios1/0_05_Payback.cfg
Labels: none

minor update to equipment list
  lua/equipment_list.lua
Labels: Lua

fix a bug when picking up multiple items on map
  lua/equipment_write.lua
  utils/inventory.cfg
Labels: Lua

update P1 ghost image mod
  utils/images.cfg
Labels: none

update beginning P2 scenarios
  maps/1_01_Enough2.map
  scenarios2/1_00_Orders.cfg
  scenarios2/1_01_Enough.cfg
  scenarios3/2_05_World.cfg
Labels: none
